
 
    body {
    background-color: white;
}

.heading{
   
    float: left;
    margin-top: -75px;
   
}
   .member-btn{
        padding: .5em;
        text-decoration: none;
        border: 1px solid lightgreen;
        background-color: lightseagreen;
        border-radius: 15%;
       text-align: center;
       margin-left: 40%;
        
    }
.navbar{
    text-align: center;
}
#vedio{
    width: 100%;
}
h1{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    color:#418fde;
    font-size: 3em;
    
   }
h3{
    text-align: center;
   }
.ban{
    text-align: center;
    
    
}
h2{
    font-size: 2em;
    text-align: center;
    width:80%;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
   
}
.new1{
    
    width: 35%;
    
}

.new2{
    
    width: 50%;
    
}
.new3{
    width: 10%;
    
}
p{
    padding: 15px;
   
}

.banner{
    background-color:rgb(200,200,200,0.2);
    width: 80%;
    padding: 3%;
    margin: 4%;
    margin-right:10%;
    margin-left:10%;
    text-align: center;
    
}
.contactwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(200,200,200,0.2);
    
}
.wraper1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:2%;
    margin: 10%;
    height: 100%;
   
}

.column1-1{
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(200,200,200,0.2);
    
    
   
}
.column2-2{
    justify-content: center;
    grid-column-start: 2;
    grid-column-end:3;
    background-color:rgb(200,200,200,0.2);
    padding-top: 100px;
    padding-right: 100px;
    box-shadow: 10px 0 5px -4px #888;
   
}
.column3-3{
    grid-column-start: 1;
    grid-column-end:2;
    padding-top: 100px;
    background-color:rgb(200,200,200,0.2);
    justify-content: center;
    padding-left: 30%;
     box-shadow: -4px 0px 5px #888;
}
.column4-4{
    grid-column-start: 2;
    grid-column-end:3;
    background-color:rgb(200,200,200,0.2);
    
     
}
.column5-5{
    grid-column-start: 1;
    grid-column-end:2;
   background-color:rgb(200,200,200,0.2);
    
}
.column6-6{
    grid-column-start: 2;
    grid-column-end:3;
     background-color:rgb(200,200,200,0.2);
     padding-top: 100px;
    padding-right: 100px;
    box-shadow: 10px 0 5px -4px #888;
}

.column7-7{
    grid-column-start: 1;
    grid-column-end:2;
    padding-top: 100px;
    padding-left:30%;
     background-color:rgb(200,200,200,0.2);
    justify-content: center;
    box-shadow: -4px 0px 5px #888;
    
}
.column8-8{
    grid-column-start: 2;
    grid-column-end:3;
     background-color:rgb(200,200,200,0.2);

}
.column9-9{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
.column10{
    grid-column-start: 2;
    grid-column-end:3;
     background-color:rgb(200,200,200,0.2);
     padding-top: 100px;
    padding-right: 100px;
    box-shadow: 10px 0 5px -4px #888;
       
}
.column11{
    grid-column-start: 1;
    grid-column-end:2;
    padding-left:30%;
    padding-top: 100px;
     background-color:rgb(200,200,200,0.2);
    box-shadow: -4px 0px 5px #888;
}
.column12{
    grid-column-start: 2;
    grid-column-end:3;
     background-color:rgb(200,200,200,0.2);
}
.column13{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
.column14{
    grid-column-start: 2;
    grid-column-end:3;
     background-color:rgb(200,200,200,0.2);
     padding-top: 100px;
    padding-right: 100px;
      box-shadow: 10px 0 5px -4px #888;
}
.column15{
    grid-column-start: 1;
    grid-column-end:2;
    padding-left:30%;
    padding-top: 100px;
     background-color:rgb(200,200,200,0.2);
    box-shadow: -4px 0px 5px #888;
}
.column16{
    grid-column-start: 2;
    grid-column-end:3;
     background-color:rgb(200,200,200,0.2);
}
.column17{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
    text-align: center;
}
.column18{
    grid-column-start: 2;
    grid-column-end:3;
    text-align: center;
     background-color:rgb(200,200,200,0.2);
}
.wraper2{
    display:grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
     margin: 0.65em;
    padding: 0.65em;
}
    
  .wraper3{
    display:grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    margin: 0.65em;
      padding: 0.65em;
}
    .wraper4{
    display:grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
     margin: 0.65em;
      padding: 0.65em;
    }
    
   .column1{
    grid-column-start: 1;
    grid-column-end: 2; 
    justify-content: center;
     margin: 0.65em;
      padding: 0.65em;
   
       
}

.image:hover{
     opacity: 0.8;
    filter: alpha(opacity=50); 
}

   .column2{
   
    grid-column-start: 2;
    grid-column-end: 3;
        justify-content: center;
       margin: 0.65em;
      padding: 0.65em;
   } 
    
     .column3{
    grid-column-start: 3;
    grid-column-end: 4;
       margin: 0.65em;
      padding: 0.65em;
   } 
    
      .column4{
    grid-column-start: 4;
    grid-column-end: 5;
         margin: 0.65em;
      padding: 0.65em;
   }
        .column5{
    grid-column-start: 1;
    grid-column-end: 2; 
      margin: 0.65em;
      padding: 0.65em;
}
   .column6{
   
    grid-column-start: 2;
    grid-column-end: 3;
       margin: 0.65em;
      padding: 0.65em;
   } 
    
     .column7{
    grid-column-start: 3;
    grid-column-end: 4;
     margin: 0.65em;
      padding: 0.65em;
   } 
    
      .column8{
    grid-column-start: 4;
    grid-column-end: 5;
      margin: 0.65em;
      padding: 0.65em;
   }
 .container{
    display:grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
        padding: 20px;
        margin: 20px;
    }
    .grid1{
        grid-column-start: 1;
    grid-column-end: 2;
        padding: 10px;
    }
    .grid2{
        grid-column-start: 2;
    grid-column-end: 3;
        padding: 10px;
    }
    .grid3{
        grid-column-start: 3;
    grid-column-end: 4;
        padding: 10px;
    }
    .grid4{
        grid-column-start: 4;
    grid-column-end: 5;
        padding: 10px;
    }
.map{
    
    width: 100vw;
    margin-top: 10%;
    height: auto;
    
}
.contactwrapper iframe{
    width: 100%;
    height: 100%;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
     margin-top: 0%;
  background: #418fde;
}

li {
  display:inline-block;
  position: relative;
  margin: 0px;  
  text-align: center;
  
}


li ul { display: none; }

ul li a {
  display: inline-block;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
    text-align: center;
}

ul li a:hover { background: lightblue;
text-align: center;}

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #418fde; }

li:hover li a:hover { background:lightblue; }

.main-navigation li ul li { border-top: 0; }

ul ul ul {
 left: 100%;
  top: 0;
}



ul:before,
ul:after {
  
  display: table;
}

ul:after { clear: both; }


form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #418fde;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px #418fde; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 50%;
  background:#418fde;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:black; } 
footer{
    background-color: #418fde;
    padding: 5px;
    text-align: center;
    margin-top: 1em;
}
.member-button{
    padding: 10px;
    background-color:#418fde;
    width: 30%;
    cursor:pointer;
    border-radius:40%;
    font-weight: 600;
    text-align: center;
    margin-left: 30%;
    
    
}
   .untable{
        margin-left:20%;
        margin-right:20%;
        width: 60%;
        
    }
    
    h2{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .gridcontainer{
    display: grid;
    grid-template-columns:repeat(1fr 1fr 1fr 1fr);
    }
    
    .workgrid1{
        grid-column-start: 1;
        grid-column-end: 2;
        background-color:thistle;
        padding: 10%;
        margin: 5%;
            
    }
     .workgrid2{
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: navajowhite;
        padding: 10%;
         margin: 5%;
       
            
    }

.imgaboutall{
    
    margin:0;
    padding: 0;
    
}
     .workgrid3{
        grid-column-start: 3;
        grid-column-end: 4;
        background-color: skyblue;
        padding: 10%;
         margin: 5%;
            
    }
     .workgrid4{
        grid-column-start: 4;
        grid-column-end: 5;
        background-color: lightpink;
        padding: 10%;
         margin: 5%;
            
    }
    .bigbox{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
    .pic1{
        grid-column-start: 1;
        grid-column-end: 2;
        background-color:rgb(200,200,200,0.2);
        margin: 10%;
        padding: 10%;
    }
     .pic2{
        grid-column-start: 2;
        grid-column-end: 3;
         background-color:rgb(200,200,200,0.2);
         margin: 10%;
        padding: 10%;
    }
     .pic3{
        grid-column-start: 3;
        grid-column-end: 4;
         background-color:rgb(200,200,200,0.2);
         margin: 10%;
        padding: 10%;
    }
.icons{
    
    text-align:right;
    margin-top: 0%;
    cursor: pointer;
    
    
}
#imggal{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 100%;
}
.imgbec{
    margin-right: 20%;
    margin-left: 15%;
    width: 100%;
    
}
.become{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5em;
}
  .paymentform{
           display: inline-block;
           background-color:gainsboro;
           margin: 3%;
           padding: 20px;
           padding-top:40px;
           margin-left: 25%;
           margin-bottom: 0%;
      padding-bottom: 55px;
          
       } 
       .paymentform2{ 
           display: inline-block;
           background-color: gainsboro;
           margin: 3%;
           padding: 40px;
           margin-right: 20%;
           padding-top: 3.5%;
           padding-bottom: 3.8%;
           
               
           
       }
       .contribution{
           display: inline-block;
           background-color: gainsboro;
           text-align: center;
           margin-left: 30%;
           margin-right: 20%;
           width: 40%;
       }
       .buttonform{
           background-color:lightgreen;
           padding: 4%;
           border-radius: 15%;
           font-weight: bold;
           text-align: center;
           font-size:15px;
           margin-top: 5px;
          
           
           
       }
       label{
           display: block;
       }
@media (max-width: 600px){
    .heading{
    float: left;
    margin-top: 0px;
   }
    
    img{
        
        max-width: 100%;
        
    }
  
    #imgg{
        height: 50%;
        width: 60%;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
    }
    .fb{
        width: 5%;
    }
    .twitt{
        width: 5%;
    }
    .inst{
        width: 5%;
    }
    #hands{
        height: 50%;
    }
    .imgabout1{
        width: 100%;
        height: 50%;
    }
    .imgaboutall{
        width: 100%;
      
       
        
    }
    .imgwork{
        width: 100%;
        height: 100%;
    }
   
    #table1{
    
    max-width:185%;
        margin-left: -40%;
   
    }
    .imgun{
        height: 50%;
        width: 100%
    }
    .column1-1{
   
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
   
}
    
    .imgallabout1{
        
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .column2-2{
   
    grid-column-start: 1;
    grid-column-end:2;
    background-color:rgb(200,200,200,0.2);
    box-shadow: 10px 0 5px -4px #888;
   padding: 0;
    width: 100%;
        
 }
   .column3-3{
    grid-column-start: 1;
    grid-column-end:2;
    padding-top: 100px;
    background-color:rgb(200,200,200,0.2);
    
     box-shadow: -4px 0px 5px #888;
    padding-left: 0;
        max-width:160%;
       
          
        
}
.column4-4{
    grid-column-start: 1;
    grid-column-end:2;
    background-color:rgb(200,200,200,0.2);
    margin-left:0;
    padding-left: 0;
   
        
     
}
.column5-5{
    grid-column-start: 1;
    grid-column-end:2;
   background-color:rgb(200,200,200,0.2);
    
}
.column6-6{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
     padding-top: 100px;
    padding-right: 100px;
    box-shadow: 10px 0 5px -4px #888;
}

.column7-7{
    grid-column-start: 1;
    grid-column-end:2;
    padding-top: 100px;
    padding-left:30%;
     background-color:rgb(200,200,200,0.2);
    justify-content: center;
    box-shadow: -4px 0px 5px #888;
    
}
.column8-8{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);

}
.column9-9{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
.column10{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
     padding-top: 100px;
    padding-right: 100px;
    box-shadow: 10px 0 5px -4px #888;
       
}
.column11{
    grid-column-start: 1;
    grid-column-end:2;
    padding-left:30%;
    padding-top: 100px;
     background-color:rgb(200,200,200,0.2);
    box-shadow: -4px 0px 5px #888;
}
.column12{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
.column13{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
.column14{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
     padding-top: 100px;
    padding-right: 100px;
      box-shadow: 10px 0 5px -4px #888;
}
.column15{
    grid-column-start: 1;
    grid-column-end:2;
    padding-left:30%;
    padding-top: 100px;
     background-color:rgb(200,200,200,0.2);
    box-shadow: -4px 0px 5px #888;
}
.column16{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
} 
    .column17{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
.column18{
    grid-column-start: 1;
    grid-column-end:2;
     background-color:rgb(200,200,200,0.2);
}
    
    .wraper1{
    display:grid;
    grid-row-gap: 0;
    grid-template-columns:1fr;
    margin: 0%;
    height: 100%;
    
   
}
    .image{
        width: 100%;
        height: 100%;
    }
     .column1{
    grid-column-start: 1;
    grid-column-end: 5; 
    justify-content: center;
     margin: 0.65em;
      padding: 0.65em;
   
       
} 
    .column2{
   
    grid-column-start: 1;
    grid-column-end: 5;
        justify-content: center;
       margin: 0.65em;
      padding: 0.65em;
   } 
    
     .column3{
    grid-column-start: 1;
    grid-column-end: 5;
       margin: 0.65em;
      padding: 0.65em;
   } 
    
      .column4{
    grid-column-start: 1;
    grid-column-end: 5;
         margin: 0.65em;
      padding: 0.65em;
   }
        .column5{
    grid-column-start: 1;
    grid-column-end: 5; 
      margin: 0.65em;
      padding: 0.65em;
}
   .column6{
   
    grid-column-start: 1;
    grid-column-end: 5;
       margin: 0.65em;
      padding: 0.65em;
   } 
    
     .column7{
    grid-column-start: 1;
    grid-column-end: 5;
     margin: 0.65em;
      padding: 0.65em;
   } 
    
      .column8{
    grid-column-start: 1;
    grid-column-end: 5;
      margin: 0.65em;
      padding: 0.65em;
   }
    .grid1{
        grid-column-start: 1;
    grid-column-end: 5;
        padding: 10px;
    }
    .grid2{
        grid-column-start: 1;
    grid-column-end: 5;
        padding: 10px;
    }
    .grid3{
        grid-column-start: 1;
    grid-column-end: 5;
        padding: 10px;
    }
    .grid4{
        grid-column-start: 1;
    grid-column-end: 5;
        padding: 10px;
    }
     .gridcontainer{
    display: grid;
    grid-template-columns:1fr;
    }
     .workgrid1{
        grid-column-start: 1;
        grid-column-end: 5;
        background-color:thistle;
        padding: 10%;
        margin: 5%;
            
    }
     .workgrid2{
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: navajowhite;
        padding: 10%;
         margin: 5%;
       
            
    }
     .workgrid3{
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: skyblue;
        padding: 10%;
         margin: 5%;
            
    }
     .workgrid4{
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: lightpink;
        padding: 10%;
         margin: 5%;
            
    }
    .bigbox{
        display: grid;
        grid-template-columns: 1fr;
        
    }
        .pic1{
        grid-column-start: 1;
        grid-column-end: 5;
        background-color:rgb(200,200,200,0.2);
        
    }
     .pic2{
        grid-column-start: 1;
        grid-column-end: 5;
         background-color:rgb(200,200,200,0.2);
       
    }
     .pic3{
        grid-column-start: 1;
        grid-column-end: 5;
         background-color:rgb(200,200,200,0.2);
       
    }
    .imggal{
   
    width: 100%;
    height: 100%;
}
      .paymentform{
           display: inline-block;
           background-color:gainsboro;
           
           padding: 20px;
           padding-top:40px;
           margin-left: 15%;
           margin-bottom: 0%;
      padding-bottom: 55px;
          margin-right: 10%;
          
          
       } 
       .paymentform2{ 
           display: inline-block;
           background-color: gainsboro;
          
           padding: 40px;
           margin-right: 20%;
           padding-top: 4%;
           padding-bottom: 4%;
           margin-left: 15%;
           margin-right: 10%
           
               
           
       }
       .contribution{
           display: inline-block;
           background-color: gainsboro;
           text-align: center;
           margin-left: 20%;
           margin-right: 20%;
           width: 60%;
       }
    .member-button{
    padding: 1em;
    background-color:#418fde;
    width: 50%;
    cursor:pointer;
    border-radius:40%;
    font-weight: 600;
    text-align: center;
    margin-left: 25%;
    
    
}
    .member-btn{
        padding: .5em;
        text-decoration: none;
        border: 1px solid lightgreen;
        background-color: lightseagreen;
        border-radius: 15%;
        margin-left: 20%;
        
    }
    
    .contactwrapper iframe{
    width: 100%;
    height: 70%;
}
    .map{
    
    width: 100vw;
    margin-top: 10%;
    height: 70%;
        padding-top: 6.9em;
    
}
    #form-btn{
        padding-right:4.2em;
    }
}